@{
    ViewBag.Title = "Inicio";
    <link rel="stylesheet" href="~/Content/StyleInicio.css" />

    <body>

        <header>
            <div class="header-text">
                @*<h1>Titulo 1 para agregar</h1>
                <p>jeijfciaijcaincidiomckamcakwdnckamclkamckanckandinwdjdwa</p>*@
            </div>
        </header>

        <main class="services container">
            <h2>Colegio Inmaculada Concepción</h2>
            <hr />
            <p class="txt-1">
                 Educacion de calidad y en valores
            </p>

            <div class="group-service">
                <div class="service">
                    <img src="~/Resources/Images/Mision.png" />
                    <h3>Misión</h3>
                    <p>Asumimos la responsabilidad de dar una formación integral a cada uno de nuestros alumnos en las distintas etapas de su desarrollo, desde el respeto a sus creencias, poniendo el máximo empeño en el cultivo de valores humanos.</p>
                </div>

                <div class="service">
                    <img src="~/Resources/Images/Vision1.png" />
                    <h3>Visión</h3>
                    <p>Ser la primera elección de las familias que garantice la formación académica, la madurez emocional y la educación en valores necesarios para el futuro de sus hijos en un mundo tecnológico y global.</p>
                </div>

                <div class="service">
                    <img src="~/Resources/Images/Valores1.png" />
                    <h3>Valores</h3>
                    <p>
                        Enseñanza de idiomas,
                        dominio de las tecnologías de la comunicación e información,
                        alto compromiso del profesorado: profesionalidad, experiencia, dinamismo y proximidad a los alumnos,
                        acción tutorial: seguimiento académico y atención personalizada de alumnos.
                    </p>
                </div>

            </div>

        </main>

        <section class="porfolio container">
            
            <div class="porfolio-txt">
                <h2>Eventos</h2>
                <hr />
                <p>
                    Sigue mas de cerca nuestras actividades academicas en el año lectivo
                </p>
                <a href="https://www.facebook.com/ColegioInmaculadaConcepcionMANAGUA" class="btn-1">Mas información</a>
            </div>

            <div class="imgs">
                <img src="~/Resources/Images/Colegio6.jpg" />
                <img src="~/Resources/Images/Colegio2.jpg" />
               
            </div>
        </section>

        <section class="bg-sec">
            <div class="bg-txt container">

                <h2>Información</h2>
                <p>
                    Redes Sociales: Facebook Colegio Inmaculada Concepción
                </p>
                <p>
                    Correo: ColegioInmConcep@gmail.com
                </p>
                <p>
                    Celular: 2248 1881
                </p>
                <p>
                     Managua, Nicaragua Pista Sabana Grande de la Sandak Ivan Montenegro 4 1/2 C al Sur, América, Nicaragua,
                </p>

            </div>


        </section>

        <footer class="footer">
            <p>&copy; @DateTime.Now.Year - Colegio Inmaculada Concepción </p>
        </footer>



    </body>



}
